knife4j:
  production: false
  enable: true
  basic:
    enable: false
    username: renren
    password: 2ZABCDEUgF
  setting:
    enableFooter: false
spring:
  datasource:
    druid:
      #MySQL
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://127.0.0.1:3306/xiaozhi_esp32_server?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true
      username: root
      password: 123456
      initial-size: 10
      max-active: 100
      min-idle: 10
      max-wait: 6000
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      stat-view-servlet:
        enabled: false
      filter:
        stat:
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: false
        wall:
          config:
            multi-statement-allow: true
  data:
    redis:
      host: 127.0.0.1         # Địa chỉ máy chủ Redis
      port: 6379              # Cổng kết nối máy chủ Redis
      password:              # Mật khẩu kết nối máy chủ Redis (mặc định để trống)
      database: 0            # Chỉ mục cơ sở dữ liệu Redis (mặc định là 0)
      timeout: 10000ms       # Thời gian chờ kết nối (mili giây)
      lettuce:
        pool:
          max-active: 8      # Số kết nối tối đa trong pool (sử dụng giá trị âm nghĩa là không giới hạn)
          max-idle: 8        # Số kết nối rảnh tối đa trong pool
          min-idle: 0        # Số kết nối rảnh tối thiểu trong pool
        shutdown-timeout: 100ms  # Thời gian chờ đóng client một cách nhẹ nhàng
